In [1]:
import pandas as pd

In [2]:
from pandas import Series,DataFrame
import numpy as np
from numpy.random import randn

**Ümumi görünüşü bu cür olur:**

`class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)`

>`data`: _dict,numpy array və ya rəqəmsal ola bilər_

>`index`: _arraydə ola bilər və ya 1D matrix,data ilə eyni uzunluğa sahib olmalıdır_

>`dtype`: _numpy.dtype və ya None əgər None olsa dtype çıxarılacaq_

>`copy`: _Giriş məlumatlarının kopyalanması _

In [29]:
data = np.array([1,2,3,4,5]) 
ser = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [30]:
#əgər index qeyd olunmazsa
data = np.array([1,2,3,4,5])
ser = pd.Series(data)
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [33]:
data_dict = {'a' : 2.4, 'b' : 1.9, 'c' : 2.}
ser2 = pd.Series(data_dict) #əgər dictlərdə index qeyd olunmazsa açar sözlər index kimi qeyd olunacaq
ser2

a    2.4
b    1.9
c    2.0
dtype: float64

In [48]:
ser = pd.Series(5., index=[1,2,3,4,5],name="Seriyanin adi") #name seriyaya verdiyimiz ad olacaq
ser

1    5.0
2    5.0
3    5.0
4    5.0
5    5.0
Name: Seriyanin adi, dtype: float64

In [44]:
#iki seriyanin toplanması
ser = pd.Series(5., index=[1,2,3,4,5])
ser2 = pd.Series(np.arange(5))
ser2+ser

0    NaN
1    6.0
2    7.0
3    8.0
4    9.0
5    NaN
dtype: float64

In [46]:
ser = pd.Series(5., index=[1,2,3,4,5])
ser2 = pd.Series(np.arange(5))
ser2[2]+ser[2] # 2ci sırada olanları topladıq

7.0

In [53]:
ser = pd.Series(5., index=[1,2,3,4,5],name="Seriyanin adi") #name seriyaya verdiyimiz ad olacaq
ser.name

'Seriyanin adi'

In [55]:
ser = ser.rename("Seriyanin adin deyisdik")
ser.name

'Seriyanin adin deyisdik'

`pd.date_range('20180101', periods=1)` __tarix qeyd olunur 2018 ve ya her hansi bir il daha sonra birləşik olaraq ay və gün period isə dövrlərin sayıdı neçə gün istəsək ona uyğun period yazırıq __

In [3]:
a = Series([pd.date_range('20180101', periods=1)],index=np.arange(5))
a

0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
dtype: object

In [5]:
a[3]

DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D')

In [56]:
a.values #dəyərləri cağırırıq

array([DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
       DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
       DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
       DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
       DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D')],
      dtype=object)

In [7]:
a.index #series de qeyd etdiyimiz index çağırılır

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [57]:
b = a.to_dict() #dict-ə çeviririk

In [58]:
b

{0: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
 1: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
 2: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
 3: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
 4: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D')}

In [10]:
a

0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
dtype: object

In [11]:
a.name = "Sorry not name" #series adı bu cürdə qeyd etmək olar

In [12]:
a

0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
Name: Sorry not name, dtype: object

In [13]:
a.index.name="Indeks adi" #indexin adi

In [14]:
a

Indeks adi
0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
Name: Sorry not name, dtype: object

In [15]:
a.index[1]

1

In [59]:
a.sort_index() #indeksin siralanmasi

Indeks adi
0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
Name: Sorry not name, dtype: object

In [63]:
list2 = ['J','A','B','C','D','A','E','F','G','H','C','I','J'] #burada eyni adda muxtelif məlumatlar qeyd olunur
ser = Series(list2)
ser

0     J
1     A
2     B
3     C
4     D
5     A
6     E
7     F
8     G
9     H
10    C
11    I
12    J
dtype: object

In [64]:
ser.unique() #daha sonra isə biz onları bənzərsiz olaraq çağırırıq

array(['J', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype=object)

In [65]:
ser.value_counts() #burad hər məlumatdan eyni anda neçəsi qeyd olunubsa onu bildiri

A    2
J    2
C    2
B    1
D    1
H    1
E    1
I    1
F    1
G    1
dtype: int64

In [66]:
ser[13]=np.nan #np.nan numpy None funksiyasın yerinə yetirir
ser[4]=np.nan
ser

0       J
1       A
2       B
3       C
4     NaN
5       A
6       E
7       F
8       G
9       H
10      C
11      I
12      J
13    NaN
dtype: object

In [67]:
ser.isnull() #əgər Null deyilse False NUllsa true

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
dtype: bool