In [1]:
import pandas as pd

In [2]:
from pandas import Series,DataFrame
import numpy as np
from numpy.random import randn

In [3]:
a = Series([pd.date_range('20180101', periods=1)],index=np.arange(5))
a

0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
dtype: object

In [4]:
a[3]

DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D')

In [5]:
a.values

array([DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
       DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
       DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
       DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
       DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D')],
      dtype=object)

In [6]:
a.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [7]:
b = a.to_dict()

In [8]:
b

{0: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
 1: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
 2: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
 3: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D'),
 4: DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='D')}

In [9]:
a

0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
dtype: object

In [10]:
a.name = "Sorry not name"

In [11]:
a

0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
Name: Sorry not name, dtype: object

In [12]:
a.index.name="Indeks adi"

In [13]:
a

Indeks adi
0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
Name: Sorry not name, dtype: object

In [14]:
a.index[1]

1

In [15]:
a.sort_index()

Indeks adi
0    DatetimeIndex(['2018-01-01'], dtype='datetime6...
1    DatetimeIndex(['2018-01-01'], dtype='datetime6...
2    DatetimeIndex(['2018-01-01'], dtype='datetime6...
3    DatetimeIndex(['2018-01-01'], dtype='datetime6...
4    DatetimeIndex(['2018-01-01'], dtype='datetime6...
Name: Sorry not name, dtype: object

In [16]:
list2 = ['J','A','B','C','D','A','E','F','G','H','C','I','J']

In [17]:
ser = Series(list2)
ser

0     J
1     A
2     B
3     C
4     D
5     A
6     E
7     F
8     G
9     H
10    C
11    I
12    J
dtype: object

In [18]:
ser.unique()

array(['J', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype=object)

In [19]:
ser.value_counts()

J    2
C    2
A    2
E    1
F    1
H    1
D    1
B    1
I    1
G    1
dtype: int64

In [20]:
ser[13]=np.nan
ser[4]=np.nan
ser

0       J
1       A
2       B
3       C
4     NaN
5       A
6       E
7       F
8       G
9       H
10      C
11      I
12      J
13    NaN
dtype: object

In [21]:
ser.isnull()

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
dtype: bool

In [22]:
ser2 = Series(np.arange(len(['A','B','C','D','E','F','G','H','I','J'])),index=[['A','B','C','D','E','F','G','H','I','J'],[1,2,3,4,5,6,7,8,9,10]])
ser2

A  1     0
B  2     1
C  3     2
D  4     3
E  5     4
F  6     5
G  7     6
H  8     7
I  9     8
J  10    9
dtype: int64